.todo {
  display: flex;
  background-color: #fff;
  width: 65%;
  max-width: 500px;
  height: 55px;
  margin: 15px auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #232b30;
}
.todoText {
  width: 100%;
  text-align: left;
  color: #000;
  font-size: 22px;
}
.todoIcon {
  font-size: 32px;
  margin-right: 10px;
  color: rgb(150, 39, 11);
}
.completedTodo {
  background-color: unset;
  border: 1px solid gray;
  color: gray;
}
.todo.completedTodo .todoIcon,
.todo.completedTodo .checkIcon,
.todo.completedTodo .deleteIcon {
  color: gray;
}
.checkIcon,
.deleteIcon {
  font-size: 32px;
  color: #232b30;
  margin-right: 10px;
  transition: transform 0.3s ease-out;
}
.deleteIcon:hover,
.checkIcon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.deleteIcon:hover {
  color: red;
}
.checkIcon:hover {
  color: green;
}
